* {
  margin: 0px;
  padding: 0px;
}

button {
  border: 1px black solid;
  background: none;
  height: 50px;
  width: 100px;
}

button:hover {
  cursor: pointer;
}
button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
button:hover .tooltiptext {
  visibility: visible;
}
