* {
  margin: 0px;
  padding: 0px;
}

button {
  border: 1px black solid;
  background: none;
  height: 50px;
  width: 100px;
}

/* tooltip on hover */
button:hover {
  cursor: pointer;
}
button:active {
  background-color: rgb(241, 241, 241);
}

button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(32, 32, 32);
  color: #ededed;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  position: relative;
  z-index: 1;
  top: -5px;
  left: 80px;
}

button:hover .tooltiptext {
  visibility: visible;
}
